

# MongoDB
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.nw2bjvr.mongodb.net/contacts?retryWrites=true&w=majority"

# JWT
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

# Frontend URL (для посилання в листі)
APP_DOMAIN=http://localhost:3000

# Brevo (SMTP)
# SMTP_HOST=smtp-relay.brevo.com
# SMTP_PORT=587
# SMTP_USER=91b66a001@smtp-brevo.co
# SMTP_PASSWORD=GfUYVStvJD13bzRW
# SMTP_FROM=you@your-verified-domain.com

# Cloudinary (наступні кроки)
# CLOUDINARY_CLOUD_NAME=cloudinary_3d_5d1e02ed-a012-4b6a-93a3-09b8a7d512a4
# CLOUDINARY_CLOUD_NAME=dn
# CLOUDINARY_CLOUD_NAME=dnk6hnoqk
# CLOUDINARY_API_KEY=335732752535579
# CLOUDINARY_API_SECRET=kUw7IbVaXRB3ej7L1XVjnLj2Z9M
# UKRNET_PORT=2525